<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .header-image {
            width: 70%;
            height: auto;
            display: block;
            margin: 20px auto;
            border-radius: 8px;
        }
        header {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            max-height: clac(50vh + 50vw);
        }
    </style>
</head>
<body>
    <header>
        <img src="{% static 'img/img.png' %}" alt="Header Image" class="header-image">
    </header>
</body>
</html>
